.nav-bg {
    background-color: #f8f9fa;
    height: 200px;
    margin-bottom: 40px;
}

.header {
    text-align: Center;
    margin-top: 5px;
}

.budget {
    text-align: center;
    margin-bottom: 40px;
}

.logo {
    height: 150px;
}